div{
    color:black;
}

.nav-brand{
    margin-top:-5px;
    margin-left:1em;
}
.searchicon{
    position:relative;
    animation-name:search;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes search{
    from {right:0}
    to{left: 10%}
}

@media screen  and ( max-width: 500px ){
    .mobile{
        display:none;
    }
    .nav-brand{
        margin-top:0;
        margin-left:0vw;
    }
}